[Unit]
Description=Cardinal Discord bot Service handler

[Service]
# systemd will run this executable to start the service
# if /usr/bin/dotnet doesn't work, use `which dotnet` to find correct dotnet executable path
ExecStart=/usr/bin/dotnet /home/ubuntu/Cardinal/Cardinal/bin/Debug/net6.0/Cardinal.dll
# to query logs using journalctl, set a logical name here
SyslogIdentifier=Cardinal

# Use your username to keep things simple.
# If you pinck a different user, make sure dotnet and all permissions are set correctly to run the app
# To update permissions, use 'chown yourusername -R /Path/To/File' to take ownership of the folder and files,
#       Use 'chmod +x /Path/to/file' to allow execution of the executable file
User=ubuntu

# Ensure the service restarts after crashing
Restart=always
# Amount of time to wait before restarting the service
RestartSec=5

# This environment variable is necessary when dotnet isn't loaded for the specified user.
# To figure out thisvalue, run 'env | grep DOTNET_ROOT' when dotnet has been loaded to your shell.
Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=multi-user.target
